<div class="view-service view-service-{{ nid }}">
  	<h3>{{ title }}</h3>
  	<div class = "content">
   		{{ body }}
   		<a href = "{{link}}" class = "button-learn-more">Learn More</a>
	</div>
	<div class = "overlay"></div>
</div>

	