<div class="static-left-slideshow-right">
  <div class="static">
    {{ title }}
    {{ body }}
  </div>
  <div class="slideshow">
  	<div class = "slide-wrapper" data-id = "slider-wrapper">
    	{{ slides }}
	</div>
    <ul class = "pagers" data-id = "slider-pagers">
    	{{ pagers }}
	</ul>
  </div>
</div>
